<!doctype html>
<html lang="en">
    <head>
        <title>Leafie Awards!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="mainpage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="mainpage.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <!-- Main panel -->
        <div class="container-fluid bg-1 text-center" id="welcomepanel">
            <div class="jumbotron" id="welcome">
                <div class="col-lg">
                    <h1>Leafie Awards!</h1>
                    <p style="font-size:203%">~~~ Go ahead and select an intern or recruiter and nominate them for upto 5 awards! ~~~</p>
                </div>
            </div>
        </div>

        <!-- Form for nominations -->
        <div class="container-fluid bg-2 text-center">
            <!-- Intern dropdown -->
            <div class="row no-gutters align-items-center" id="interndrop">
                <div class="col">
                    <form action="">
                        <div class="form-group">
                            <select id="selectedone" class="form-control form-control-lg" name="interns">
                              <% people.forEach(function(person){ %>
                                    <option value="person"><%= person %></option>
                              <% }); %>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Category boxes -->
            <div class="row no-gutters justify-content-center">
                <div class="col category">
                    <div id="category_box" style="height: 200px;">
                        <h3>General</h3>
                        <ul>
                            <li class="li" style="list-style: none;">
                                <div style="text-align: left; font-size: 120%">
                                    <input type="checkbox" name="{{this.category}};" value="t" style="height: 17px; width: 17px" onclick="">
                                        {{ this.category }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col category">
                    <div id="category_box" style="height: 200px;">
                        <h3>Games/Sports</h3>
                        <ul>
                            <li class="li" style="list-style: none;">
                                <div style="text-align: left; font-size: 120%">
                                    <input type="checkbox" name="{{this.category}};" value="t" style="height: 17px; width: 17px" onclick="">
                                        {{ this.category }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row no-gutters align-items-center">
                <div class="col category">
                    <div id="category_box" style="height: 200px;">
                        <h3>Work</h3>
                        <ul>
                            <li class="li" style="list-style: none;">
                                <div style="text-align: left; font-size: 120%">
                                    <input type="checkbox" name="{{this.category}};" value="t" style="height: 17px; width: 17px" onclick="">
                                        {{ this.category }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col category">
                    <div id="category_box" style="height: 200px;">
                        <h3>Outside Work</h3>
                        <ul>
                            <li class="li" style="list-style: none;">
                                <div style="text-align: left; font-size: 120%">
                                    <input type="checkbox" name="{{this.category}};" value="t" style="height: 17px; width: 17px" onclick="">
                                        {{ this.category }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <!-- Submit button -->
            <button type="submit" class="btn btn-success" onclick="">Nominate</button>
        </div>

        <!-- Thank you panel -->
        <div class="container-fluid bg-3 text-center" style="padding:0.25%">
            <div class="jumbotron" id="thankyou" style="padding-bottom:1%">
                <h2>Thank you for voting! :)</h2>
                <p>Feel free to slack us if you have any questions! - Elizabeth Han, Rhea Goyal, Sam Pal, Sandy Gould </p>
            </div>
        </div>
    </body>
</html>
